$fa-font-path: "~font-awesome/fonts";

@import "bootstrap/index.scss";
@import "inspinia/index.scss";
@import "~font-awesome/scss/font-awesome";
@import "inputs.scss";

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:initial;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

.my-page{
  max-width: 1024px;

  dt{
    width: auto;
  }

  dd{
    margin-left: 100px;
  }

}

.my-page-section{
  margin: 35px auto;
  max-width: 500px;
}

.my-page-header{
  min-width: 300px;
  margin: 50px auto;
}

.my-installer-content{
  padding-right: 45px;
  margin-top: 55px
}

.my-installer-hints{
  margin-top: 120px;
}
