$fa-font-path: "~font-awesome/fonts";

@import "bootstrap/index.scss";
@import "inspinia/index.scss";
@import "~font-awesome/scss/font-awesome";
@import "inputs.scss";

body{  
  background-color: white;    
  overflow-x: hidden;

  h1, h2, h3, h4{
    font-weight: initial;
  }
}

.my-page{
  max-width: 1024px;
}

.my-page-header{
  min-width: 300px;
  margin: 50px auto 40px auto;
}

.my-page-section{
  margin: 40px auto;
  max-width: 500px;
}

.my-page-section-endpoints{
  a {
    word-break: break-all;
  }

  .my-page-section-endpoints-items{
    margin-bottom: -15px;
  }

  .my-page-section-endpoints-item{
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 20px;
  }
}

.my-page-btn-submit{
  width: 150px;
  margin: 5px auto;
}

.my-page-indicator{
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
}

.my-page-indicator-error{
  margin-top: 45px;
  text-align: center;

  .fa{
    font-size: 60px;
  }
}
