.grv-control-radio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;

  input {
    z-index: -1;
    position: absolute;
    opacity: 0;
  }

  input:checked ~ .grv-control-radio-indicator {
    background: $navy;
  }

  &:hover input:not([disabled]):checked ~ .grv-control-radio-indicator,
  input:checked:focus ~ .grv-control-radio-indicator {
    background: $navy;
  }

  input:disabled ~ .grv-control-radio-indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }

  input:checked ~ .grv-control-radio-indicator:after {
    display: block;
  }

  input:disabled ~ .grv-control-radio-indicator:after {
    background: #7b7b7b;
  }
}

.grv-control-radio-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 50%;

  &:after {
    content: '';
    position: absolute;
    display: none;
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
  }
}
