@import "bootstrap/index.scss";
@import "inspinia/index.scss";

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:initial;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

.grv{
  display: block;
}
